services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: arroyo-server
    ports:
      - "3001:3000"
    env_file:
      - ./server/.env
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: arroyo-client
    ports:
      - "5173:80"
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: arroyo-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
